<!DOCTYPE html>
	<html>
		<head>
			<title>{{ site.title }}</title>
			<meta charset="UTF-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/js/live2d.js"></script>
			
		</head>
		<body>
			<div class="header">
				<h2 class="title_left">
					<span class="left_span">
						Christina
					</span>
				</h2>
				<div class="header-image">
					<img class="image_inner" src="https://cdn.jsdelivr.net/gh/SteinsHead/ImageBed/img/2021/f0Q5-koh6ZcT1kSfk-a2.gif">
				</div>
				<h2 class="title_right">
					<span class="right_span">
						Blog
					</span>
				</h2>
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/contact">Contact Me</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/games/Evolve/index.html">Game</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}

			{% for page in site.posts %}
			<div class="card">
				<div class="time">{{ page.date | date_to_string: "ordinal", "US" }}</div>
				<a href={{ page.url }}>{{ page.title }}</a>
			</div>
			{% endfor %}
			
			</div><!-- /.container -->
			<!-- 添加老婆 -->
			<div class="wife-posi">
				<canvas id="live2d" width="250" height="250"></canvas>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:headsteins@gmail.com">email</a></li>
	        		<li><a href="https://github.com/SteinsHead">github.com/SteinsHead</a></li>
				</ul>
			</footer>
			<script>
				loadlive2d("live2d", "https://cdn.jsdelivr.net/gh/SteinsHead/CDNFile/wife2d/model.json");
			</script>
		</body>
	</html>